@if (incident) {
  <app-component-card title="Edit Incident #{{ incident.id }}">
    <form [formGroup]="incidentForm">
      <div class="space-y-6">
        <div>
          <app-label>Return Notes</app-label>
          <app-text-area
            [rows]="6"
            [value]="incident.returnNotes ?? ''"
            [disabled]="true"
          />
        </div>
        <div class="flex space-x-4">
          <div class="w-full">
            <app-date-picker
              [defaultDate]="incident.reportingDate"
              id="reportingDate"
              label="Reporting Date"
              placeholder="Select a date"
              [disabled]="true"
            />
          </div>
          <div class="w-full">
            <app-date-picker
              [reactiveFormGroup]="incidentForm"
              [reactiveFormControl]="incidentForm.controls.discoverDate"
              [defaultDate]="incident.discoverDate"
              id="discoverDate"
              label="Discover Date"
              placeholder="Select a date"
              (dateChange)="discoverDateChanged($event)"
            />
            @if (
              incidentForm.controls.discoverDate.touched &&
              incidentForm.controls.discoverDate.hasError('required')
            ) {
              <p class="mt-2 text-sm text-error-500">
                {{ REQUIRED_FILED_TXT }}
              </p>
            }
          </div>
          <div class="w-full">
            <app-date-picker
              [reactiveFormGroup]="incidentForm"
              [reactiveFormControl]="incidentForm.controls.incidentDate"
              [defaultDate]="incident.incidentDate"
              id="incidentDate"
              label="Incident Date"
              placeholder="Select a date"
              (dateChange)="incidentDateChanged($event)"
            />
            @if (
              incidentForm.controls.incidentDate.touched &&
              incidentForm.controls.incidentDate.hasError('required')
            ) {
              <p class="mt-2 text-sm text-error-500">
                {{ REQUIRED_FILED_TXT }}
              </p>
            }
          </div>
        </div>
        <div>
          <app-label>Description</app-label>
          <app-text-area
            [reactiveFormGroup]="incidentForm"
            [reactiveFormControl]="incidentForm.controls.description"
            [value]="description"
            (valueChange)="description = $event"
            [rows]="6"
            [error]="
              incidentForm.controls.description.touched &&
              incidentForm.controls.description.hasError('required')
            "
            [hint]="
              incidentForm.controls.description.touched &&
              incidentForm.controls.description.hasError('required')
                ? REQUIRED_FILED_TXT
                : ''
            "
          ></app-text-area>
        </div>
        <div class="flex space-x-14">
          <div class="w-max space-y-4">
            <div>
              <app-label className="text-nowrap">
                Is there a Financial Impact?
              </app-label>
            </div>
            <div class="flex flex-wrap items-center justify-center gap-8">
              <app-radio
                [id]="'optionYes'"
                [name]="'hasFinancialImpact'"
                [value]="'true'"
                [checked]="hasFinancialImpact"
                [label]="'Yes'"
                (valueChange)="hasFinancialImpactChanged($event)"
              />
              <app-radio
                [id]="'optionNo'"
                [name]="'hasFinancialImpact'"
                [value]="'false'"
                [checked]="!hasFinancialImpact"
                [label]="'No'"
                (valueChange)="hasFinancialImpactChanged($event)"
              />
            </div>
          </div>
          <div class="w-full">
            <app-label>Financial Impact Amount</app-label>
            <app-input-field
              [reactiveFormGroup]="incidentForm"
              [reactiveFormControl]="
                incidentForm.controls.financialImpactAmount
              "
              [value]="financialImpactAmount"
              type="number"
              (valueChange)="financialImpactAmount = `${$event}`"
              [disabled]="!hasFinancialImpact"
              [error]="
                incidentForm.controls.financialImpactAmount.touched &&
                incidentForm.controls.financialImpactAmount.hasError('required')
              "
              [hint]="
                incidentForm.controls.financialImpactAmount.touched &&
                incidentForm.controls.financialImpactAmount.hasError('required')
                  ? REQUIRED_FILED_TXT
                  : ''
              "
            />
          </div>
        </div>
        <div class="flex space-x-14">
          <div class="w-max space-y-4 pr-2">
            <div>
              <app-label className="text-nowrap">
                Financial Loss Recovered?
              </app-label>
            </div>
            <div class="flex flex-wrap items-center justify-center gap-8">
              <app-radio
                [id]="'recoveredOptionYes'"
                [name]="'recoveredFinancialLoss'"
                value="true"
                [checked]="recoveredFinancialLoss"
                label="Yes"
                (valueChange)="recoveredFinancialLossChanged($event)"
                [disabled]="!hasFinancialImpact"
              />
              <app-radio
                [id]="'recoveredOptionNo'"
                [name]="'recoveredFinancialLoss'"
                value="false"
                [checked]="!recoveredFinancialLoss"
                label="No"
                (valueChange)="recoveredFinancialLossChanged($event)"
              />
            </div>
          </div>
          <div class="flex w-full space-x-6">
            <div class="w-full">
              <app-label>Recovery Amount</app-label>
              <app-input-field
                [reactiveFormGroup]="incidentForm"
                [reactiveFormControl]="incidentForm.controls.recoveryAmount"
                [value]="recoveryAmount"
                type="number"
                (valueChange)="recoveryAmount = `${$event}`"
                [disabled]="!recoveredFinancialLoss"
                [error]="
                  incidentForm.controls.recoveryAmount.touched &&
                  incidentForm.controls.recoveryAmount.hasError('required')
                "
                [hint]="
                  incidentForm.controls.recoveryAmount.touched &&
                  incidentForm.controls.recoveryAmount.hasError('required')
                    ? REQUIRED_FILED_TXT
                    : ''
                "
              />
            </div>
            <div class="w-full">
              <app-date-picker
                [reactiveFormGroup]="incidentForm"
                [reactiveFormControl]="incidentForm.controls.recoveryDate"
                [defaultDate]="incident.recoveryDate ?? undefined"
                id="recoveryDate"
                label="Recovery Date"
                placeholder="Select a date"
                (dateChange)="recoveryDateChanged($event)"
                [disabled]="!recoveredFinancialLoss"
              />
              @if (
                incidentForm.controls.recoveryDate.touched &&
                incidentForm.controls.recoveryDate.hasError('required')
              ) {
                <p class="mt-2 text-sm text-error-500">
                  {{ REQUIRED_FILED_TXT }}
                </p>
              }
            </div>
          </div>
        </div>
        <div class="space-y-2 mt-10">
          <div class="flex items-center space-x-4">
            <app-label>Responsible Employees:</app-label>
          </div>
          <div
            class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-white/[0.05] dark:bg-white/[0.03]"
          >
            <div class="max-w-full overflow-x-auto">
              <table class="min-w-full">
                <!-- Table Header -->
                <thead>
                  <tr>
                    <th
                      class="px-3 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400"
                    >
                      Employee Number
                    </th>
                    <th
                      class="px-2 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400"
                    >
                      Summary of Employee Error
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody
                  class="divide-y divide-gray-100 dark:divide-white/[0.05]"
                >
                  <tr>
                    <td class="px-2 pb-2 align-top">
                      <input
                        type="text"
                        maxlength="7"
                        (keydown)="allowOnlyNumbers($event)"
                        [value]="tmpEmployeeNumber"
                        (input)="tmpEmployeeNumber = `${$event.target.value}`"
                        class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800"
                      />
                      @if (showEmployeeNumberErr) {
                        <p class="mt-2 text-sm text-error-500">
                          {{ INVALID_EMPLOYEE_NUMBER_TXT }}
                        </p>
                      }
                    </td>
                    <td class="px-2 pb-2 align-top">
                      <app-input-field
                        type="text"
                        (valueChange)="tmpEmployeeError = `${$event}`"
                        [value]="tmpEmployeeError"
                      />
                      @if (showEmployeeErrorErr) {
                        <p class="mt-2 text-sm text-error-500">
                          {{ REQUIRED_FILED_TXT }}
                        </p>
                      }
                    </td>
                    <td>
                      <div class="flex items-center justify-center">
                        <button
                          class="text-theme-xs text-gray-700 dark:text-gray-400"
                          (click)="addEmployee()"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                            />
                          </svg>
                        </button>
                      </div>
                    </td>
                  </tr>
                  @if (involvedEmployees.length > 0) {
                    @for (employee of involvedEmployees; track $index) {
                      <tr>
                        <td
                          class="px-4 py-4 text-gray-500 text-start text-theme-sm dark:text-gray-400"
                        >
                          {{ employee.employeeNumber }}
                        </td>
                        <td
                          class="px-4 py-4 text-gray-500 text-start text-theme-sm dark:text-gray-400"
                        >
                          {{ employee.employeeError }}
                        </td>
                        <td>
                          <div class="flex items-center justify-center">
                            <button
                              class="text-theme-xs text-gray-700 dark:text-gray-400"
                              (click)="removeEmployee(employee)"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-6"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                                />
                              </svg>
                            </button>
                          </div>
                        </td>
                      </tr>
                    }
                  } @else {
                    <tr>
                      <td colspan="3">
                        <p
                          class="py-4 text-gray-500 text-center text-theme-sm dark:text-gray-400 w-full"
                        >
                          *no employees were added*
                        </p>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div>
          <app-label>Related Procedure</app-label>
          <app-input-field
            [reactiveFormGroup]="incidentForm"
            [reactiveFormControl]="incidentForm.controls.relatedProcedure"
            [value]="relatedProcedure"
            type="text"
            (valueChange)="relatedProcedure = `${$event}`"
            [error]="
              incidentForm.controls.relatedProcedure.touched &&
              incidentForm.controls.relatedProcedure.hasError('required')
            "
            [hint]="
              incidentForm.controls.relatedProcedure.touched &&
              incidentForm.controls.relatedProcedure.hasError('required')
                ? REQUIRED_FILED_TXT
                : ''
            "
          />
        </div>
        <div>
          <app-label>Corrective Action</app-label>
          <app-input-field
            [reactiveFormGroup]="incidentForm"
            [reactiveFormControl]="incidentForm.controls.correctiveAction"
            [value]="correctiveAction"
            type="text"
            (valueChange)="correctiveAction = `${$event}`"
            [error]="
              incidentForm.controls.correctiveAction.touched &&
              incidentForm.controls.correctiveAction.hasError('required')
            "
            [hint]="
              incidentForm.controls.correctiveAction.touched &&
              incidentForm.controls.correctiveAction.hasError('required')
                ? REQUIRED_FILED_TXT
                : ''
            "
          />
        </div>
        <div>
          <app-label>Phone</app-label>
          <app-input-field
            [value]="phone"
            type="tel"
            (valueChange)="phone = `${$event}`"
          />
        </div>
        <div>
          <app-label>Email</app-label>
          <app-input-field
            [reactiveFormGroup]="incidentForm"
            [reactiveFormControl]="incidentForm.controls.email"
            [value]="email"
            type="email"
            (valueChange)="email = `${$event}`"
            [error]="
              incidentForm.controls.email.touched &&
              incidentForm.controls.email.hasError('email')
            "
            [hint]="
              incidentForm.controls.email.touched &&
              incidentForm.controls.email.hasError('email')
                ? INVALID_EMAIL_TXT
                : ''
            "
          />
        </div>
        <div class="mt-10 space-x-4 flex justify-end">
          <app-button size="md" variant="primary" (btnClick)="openModal()">
            Update Info
          </app-button>
        </div>
      </div>
    </form>
  </app-component-card>
}

<app-modal
  [isOpen]="isModalOpen"
  (close)="closeModal()"
  className="max-w-[600px] p-5 lg:p-10"
  [showCloseButton]="false"
>
  <div class="text-center">
    <div class="relative flex items-center justify-center z-1 mb-7">
      <svg
        class="fill-warning-50 dark:fill-warning-500/15"
        width="90"
        height="90"
        viewBox="0 0 90 90"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M34.364 6.85053C38.6205 -2.28351 51.3795 -2.28351 55.636 6.85053C58.0129 11.951 63.5594 14.6722 68.9556 13.3853C78.6192 11.0807 86.5743 21.2433 82.2185 30.3287C79.7862 35.402 81.1561 41.5165 85.5082 45.0122C93.3019 51.2725 90.4628 63.9451 80.7747 66.1403C75.3648 67.3661 71.5265 72.2695 71.5572 77.9156C71.6123 88.0265 60.1169 93.6664 52.3918 87.3184C48.0781 83.7737 41.9219 83.7737 37.6082 87.3184C29.8831 93.6664 18.3877 88.0266 18.4428 77.9156C18.4735 72.2695 14.6352 67.3661 9.22531 66.1403C-0.462787 63.9451 -3.30193 51.2725 4.49185 45.0122C8.84391 41.5165 10.2138 35.402 7.78151 30.3287C3.42572 21.2433 11.3808 11.0807 21.0444 13.3853C26.4406 14.6722 31.9871 11.951 34.364 6.85053Z"
          fill=""
          fill-opacity=""
        />
      </svg>

      <span class="absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
        <svg
          class="fill-warning-600 dark:fill-orange-400"
          width="38"
          height="38"
          viewBox="0 0 38 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M32.1445 19.0002C32.1445 26.2604 26.2589 32.146 18.9987 32.146C11.7385 32.146 5.85287 26.2604 5.85287 19.0002C5.85287 11.7399 11.7385 5.85433 18.9987 5.85433C26.2589 5.85433 32.1445 11.7399 32.1445 19.0002ZM18.9987 35.146C27.9158 35.146 35.1445 27.9173 35.1445 19.0002C35.1445 10.0831 27.9158 2.85433 18.9987 2.85433C10.0816 2.85433 2.85287 10.0831 2.85287 19.0002C2.85287 27.9173 10.0816 35.146 18.9987 35.146ZM21.0001 26.0855C21.0001 24.9809 20.1047 24.0855 19.0001 24.0855L18.9985 24.0855C17.894 24.0855 16.9985 24.9809 16.9985 26.0855C16.9985 27.19 17.894 28.0855 18.9985 28.0855L19.0001 28.0855C20.1047 28.0855 21.0001 27.19 21.0001 26.0855ZM18.9986 10.1829C19.827 10.1829 20.4986 10.8545 20.4986 11.6829L20.4986 20.6707C20.4986 21.4992 19.827 22.1707 18.9986 22.1707C18.1701 22.1707 17.4986 21.4992 17.4986 20.6707L17.4986 11.6829C17.4986 10.8545 18.1701 10.1829 18.9986 10.1829Z"
            fill=""
          />
        </svg>
      </span>
    </div>
    <h4
      class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90 sm:text-title-sm"
    >
      Do you want to update incident details?
    </h4>
    <div class="flex items-center justify-end w-full gap-3 mt-7">
      <app-button size="sm" variant="outline" (btnClick)="closeModal()">
        Cancel
      </app-button>
      <button
        type="button"
        class="flex justify-center w-full px-4 py-3 text-sm font-medium text-white rounded-lg bg-warning-500 shadow-theme-xs hover:bg-warning-600 sm:w-auto"
        (click)="updateReturnedIncident()"
      >
        Yes, update info
      </button>
    </div>
  </div>
</app-modal>
